body {
  margin-top: 50px;
}
.brand small {
  margin-left: 4px;
  font-size: 12px;
}
ul.packages {
  margin-left: 0;
  list-style: none;
}
ul.packages > li {
  margin-bottom: 20px;
}
ul.packages > li h2.accordion-heading {
  margin: 0;
  padding: 0;
}
ul.packages > li h2.accordion-heading .accordion-toggle {
  padding-top: 0;
  padding-bottom: 0;
}
ul.packages > li h2.accordion-heading .accordion-toggle:hover {
  background: #f7f7f9;
  text-decoration: none;
}
ul.packages > li h2.accordion-heading small {
  position: relative;
  top: -2px;
}
ul.packages > li h2.accordion-heading .actions {
  float: right;
  position: relative;
  top: 3px;
  right: 7px;
}
ul.packages > li h2.accordion-heading .tags {
  float: right;
  position: relative;
  top: -7px;
  right: 20px;
}
ul.packages > li .accordion-body .actions {
  float: right;
  position: relative;
  top: 5px;
  right: 0px;
}
ul.packages > li .accordion-body .details table th {
  padding-left: 0;
  width: 100px;
}
ul.packages > li .accordion-body ul.versions {
  margin: 0;
  list-style: none;
}
