body {
  margin-top : 50px;
}

.brand small {
  margin-left : 4px;
  font-size   : 12px;
}

ul.packages {
  margin-left : 0;
  list-style  : none;

  > li {
    margin-bottom : 20px;

    h2.accordion-heading {
      margin  : 0;
      padding : 0;

      .accordion-toggle {
        padding-top    : 0;
        padding-bottom : 0;

        &:hover {
          background      : #f7f7f9;
          text-decoration : none;
        }
      }

      small {
        position : relative;
        top      : -2px;
      }

      .actions {
        float    : right;
        position : relative;
        top      : 3px;
        right    : 7px;
      }

      .tags {
        float    : right;
        position : relative;
        top      : -7px;
        right    : 20px;
      }
    }

    .accordion-body {
      .actions {
        float    : right;
        position : relative;
        top      : 5px;
        right    : 0px;
      }

      .details {
        p {
          //padding-left : 15px;
        }

        table th {
          padding-left : 0;
          width        : 100px;
        }
      }

      ul.versions {
        margin     : 0;
        list-style : none;
      }
    }
  }
}
