body {
  margin-top : 60px;
}

.navbar {
  .navbar-inner {
    padding-left : 40px;
    padding-right : 10px;
  }

  .navbar-brand {
    padding-bottom : 0;

    small {
      margin-left : 4px;
      font-size   : 12px;
    }
  }
}

.navbar-form .input-append {
  margin-bottom : 0;
}

ul.packages {
  margin-left : 0;
  list-style  : none;

  > li {
    margin-bottom : 20px;

    h2.panel-heading {
      margin  : 0;
      padding : 0;

      .panel-toggle {
        padding-top    : 0;
        padding-bottom : 0;

        &:hover {
          background      : #f7f7f9;
          text-decoration : none;
        }
      }

      small {
        position : relative;
        top      : -2px;
      }

      .actions {
        float    : right;
        position : relative;
        top      : 3px;
        right    : 7px;
      }

      .tags {
        float    : right;
        position : relative;
        top      : -7px;
        right    : 20px;
      }
    }

    .panel-body {
      .actions {
        float    : right;
        position : relative;
        top      : 5px;
        right    : 0px;
      }

      .details {
        p {
          //padding-left : 15px;
        }

        table th {
          padding-left : 0;
          width        : 100px;
        }
      }

      ul.versions {
        margin     : 0;
        list-style : none;

        .version {
          float         : left;
          margin-right  : 5px;
          margin-bottom : 5px;

          .label {
            display    : block;
            min-width  : 64px;
            text-align : center;
          }
        }
      }
    }
  }
}

#content {
  margin-bottom : 40px;
}

#footer {
  position   : fixed;
  height     : 40px;

  .container {
    margin-top : 8px;
  }

  .result-info {
    float : left;
  }
  .credit {
    float : right;
  }
}

@media (max-width: 799px) {
  body {
    margin-top : 0;
  }

  .navbar {
    .navbar-inner {
      padding : 0 10px;
    }

    .brand {
      padding-left: 0px;
    }
  }

  #footer .navbar-inner {
    padding-top : 0;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-form input {
    display : inline;
    width   : 120px;
  }

  #footer {
    margin-left  : 0;
    margin-right : 0;
  }
}
