body {
  margin-top: 60px;
}
.navbar .navbar-inner {
  padding-left: 40px;
  padding-right: 10px;
}
.navbar .navbar-brand {
  padding-bottom: 0;
}
.navbar .navbar-brand small {
  margin-left: 4px;
  font-size: 12px;
}
.navbar-form .input-append {
  margin-bottom: 0;
}
ul.packages {
  margin-left: 0;
  list-style: none;
}
ul.packages > li {
  margin-bottom: 20px;
}
ul.packages > li h2.panel-heading {
  margin: 0;
  padding: 0;
}
ul.packages > li h2.panel-heading .panel-toggle {
  padding-top: 0;
  padding-bottom: 0;
}
ul.packages > li h2.panel-heading .panel-toggle:hover {
  background: #f7f7f9;
  text-decoration: none;
}
ul.packages > li h2.panel-heading small {
  position: relative;
  top: -2px;
}
ul.packages > li h2.panel-heading .actions {
  float: right;
  position: relative;
  top: 3px;
  right: 7px;
}
ul.packages > li h2.panel-heading .tags {
  float: right;
  position: relative;
  top: -7px;
  right: 20px;
}
ul.packages > li .panel-body .actions {
  float: right;
  position: relative;
  top: 5px;
  right: 0px;
}
ul.packages > li .panel-body .details table th {
  padding-left: 0;
  width: 100px;
}
ul.packages > li .panel-body ul.versions {
  margin: 0;
  list-style: none;
}
ul.packages > li .panel-body ul.versions .version {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
ul.packages > li .panel-body ul.versions .version .label {
  display: block;
  min-width: 64px;
  text-align: center;
}
#content {
  margin-bottom: 40px;
}
#footer {
  position: fixed;
  height: 40px;
}
#footer .container {
  margin-top: 8px;
}
#footer .result-info {
  float: left;
}
#footer .credit {
  float: right;
}
@media (max-width: 799px) {
  body {
    margin-top: 0;
  }
  .navbar .navbar-inner {
    padding: 0 10px;
  }
  .navbar .brand {
    padding-left: 0px;
  }
  #footer .navbar-inner {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-form input {
    display: inline;
    width: 120px;
  }
  #footer {
    margin-left: 0;
    margin-right: 0;
  }
}
